.pictureSize {
height:auto; 
width:auto; 
max-width:240px;
max-height:240px;
}

.loader {
	background-image: url(http://i.imgur.com/n9LlmqK.gif);
	background-repeat: no-repeat;
	background-position: center;
	height:100px;
}

.rowLabel {
	right:25px;
}

.rowConfig {
	margin-bottom: 5px;
	margin-right: -10px;
	margin-left: -5px;
	padding: 5px;
	border-style:solid;
	left: 20px;
}


.Comparison {
	font-family: Arial,Helvetica,Verdana,Sans-serif;
	font-size: 11px;
	color: #000;
	font-weight: normal;
	text-align: center;
}
.darren {
	position: center;
	margin-top: 150px;

}

.title {
	font-size: 50px;
	padding-bottom: 40px;
	font-family: Modulus;
}

.showRow {
		padding-left: 30px;
		position: relative;
		clear: both;
		overflow: hidden;
		overflow-x: hidden;
		overflow-y: hidden;
		display:block;
		float:right;
		height:0;
		top:-25px;
		right:25px;
		text-align: center;

}
body { overflow-x: hidden;
	font-family: Arial,Helvetica,Verdana,Sans-serif;
	font-size: 11px;
	color: #000;
	font-weight: normal;
	text-align: center;
}

.row {
	margin-left:0px;
	margin-right: 0px;
}
